.container {
  background-image: url("transparent-blue-background-picture-16.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
}
/*grids*/
header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding-bottom: 30px;
  padding-top: 10px;
}
.about_grids {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.gallery_grids {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}
footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.gallery_page_grids {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}
.gallery_page_grids2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
/*styling nav bar*/
nav li {
  display: inline;

}
nav li a {
  text-decoration: none;
  padding: 20px;
  font-size: 25px;

}
nav li a:hover {
  box-shadow: 3px 3px 5px 6px  white;
  border-radius: 12px;
}
/*styling my link*/
a {
  color: black;
  text-decoration: none;
}
a:hover {
  box-shadow: 3px 3px 5px 6px white;
}
.link {
  padding: 20px;
}
/*about section*/
.margin {
  margin-left: 10%;
  margin-right: 10%;
}
/*images*/
.rotate {
  transform: rotate(90deg);
}
img {
  border: 3px solid white;
}
/*headings*/
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
}
/*images animation*/
.img_animation:hover {
  animation-name: rotate_img;
  animation-duration: 2.5s;
}
@keyframes rotate_img {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(45deg);}
  50% {transform: rotate(90deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
.diferent_images {
  animation-name: background_images;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 500px;
  height: 500px;
  margin-left: 30%;
}
@keyframes background_images {
  0% {background-image: url("../images/different pics/34.jpg"); background-size: cover;}
  25% {background-image: url("../images/different pics/79.jpg"); background-size: cover; }
  50% {background-image: url("../images/different pics/95.jpg"); background-size: cover; }
  75% {background-image: url("../images/different pics/97.jpg"); background-size: cover; }
  100% {background-image: url("../images/different pics/101.jpg"); background-size: cover; }
}
